.profileP {
    width: 450px;
    border-radius: 230px;
}

a {
    text-decoration: none!important;
}

.aboutM {
    font-family: 'Source Code Pro', monospace;
}

.aboutMe {
    font-family: 'Source Code Pro', monospace;
}